#body{
	background-image: url(design.png);
	background-size: 18vw 50vw;
	background-repeat: no-repeat;
	background-position: bottom right;
	overflow-x: hidden;
}
/*menu bar*/
	.menu_li_font{
		font-weight: 200;
		text-decoration: none;	
		list-style: none;
		display: inline-block;
		font-family: sans-serif;
		font-size: 1rem;
		color: grey;
		margin: 0px 3vw 0px 3vw;
		cursor: pointer;
		transition: color 1.5s ease-in-out;
	}
	#top_bar{
		position: fixed;
		background-color: snow;
		z-index: 99;
		top: 0px;
		height: 3.3rem;
		align-content: center;
		max-height: 3.3rem;
		justify-content: center;
		display: flex;
		background-color: snow;
		border-bottom: 1px solid darkgrey;
		width: 100vw;
		cursor: default;
	}

	#gohome{
		color: black;
		padding-bottom: 5px;
		border-bottom: 3px solid hotpink;
	}
	#goactivity{
		padding-bottom: 5px;
	}
	#gobio{
		padding-bottom: 5px;
	}
	#goskills{
		padding-bottom: 5px;
	}
	#goprojects{
		padding-bottom: 5px;
	}
	#gopublications{
		padding-bottom: 5px;
	}





/*SKILLS ELEMENT*/
	#skills_div{
		display: none;
	}
/*PROJECTES ELEMENT*/
	#projects_div{
		display: none;
	}

/*lOADER ELEMENT*/
	/*ANIMATION PART :*/

		@keyframes buffering {
			to{
				transform: rotate(1turn);
			};
		}
		@keyframes buffering2{
			to{
				transform: rotate(-1turn);
			};
		}
		@keyframes fadeout{
			to{
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s 2s, opacity 2s linear;
			};
		}
	#bufferimg1{
		position: absolute;
		height: 10vw;
		top: 15vw;
		left: 53vw;
		right: auto;
		border-radius: 50%;
		animation: buffering2 4s linear infinite;
	}
	#bufferimg2{
		position: absolute;
		height: 15vw;
		top: 14vw;
		left: 42vw;
		right: auto;
		border-radius: 50%;
		animation: buffering 5s linear infinite;
	}

	#gear_background{
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0px;
		background-color: black;
		opacity: 0.96;
		transition: all 2s fadeout;
	}
	#thinkingman{
		position: absolute;
		left: 15vw;
		top: 6vw;
		height: 30vw;
	}
	#bufferinglabel{
		display: inline-block;
		position: absolute;
		top: 32vw;
		left: 53vw;
		color: white;
		font-size: 2vw;
		font-family: monospace;

	}
