/*home */
	#Name_home{
		font-size: 3rem;
		font-family: sans-serif;
		font-weight: 100px;
		color: hsl(0deg 0% 11%);
		background-color: snow;
	}
	#home_div{
		margin-top: 10vw;
	}
	#strike_via_line{
		margin-top: -3vw;
		width: 10rem;
		height: 1vw; 
		border-bottom: 0.3vw solid grey;
		transition: width 2.5s ease-in-out;
		border-radius: 5%;
	}

	#profile_img{
		margin-top: 3vw;
		height: 20vw;
		width: 20vw;
		border-radius: 50%;
	}
	#about_me_home{
		font-size: 1.2rem;
		font-family: sans-serif;
		color: darkslategray;
		margin-top: 0.5vw;
		display: inline-block;
	}
	.quoteabout_home{
		font-size: 1.2rem;
		font-family: serif;
		color: darkslategray;
		margin-top: 0.5vw;
		display: inline-block;
	}
	
	
	/* home_hamburger_button_div */

		#home_hamburger_button{
			position: block;
			margin-top: 5vh;
			height: 2.5vw;
			width: 3vw;
		}
		.home_hamburger_button_div{
			display: block;
			background-color: black;
			margin: 0.2vh 0vw 0.4vh 0vw;
			height: 0.45vw;
			width: 100%;
			border-radius: 1.99rem;
		}

		#home_hamburger_menu{
			position: absolute;
			top:3.3rem ;
			height:90vh ;
			background-color: darkslategray;
			background-image: url(./Assets/Darkslate_texture.jpg);
			background-repeat: repeat;
			background-size: cover;
			width: 10vw;
			border-right: 1px solid skyblue;
		}

		#home_bottom_leftGear{
			position: relative;
			top: 30vw;
			height: 4vw;
			transition: all 0.5s linear;
		}
		#home_bottom_leftGear:hover{
			transform: rotate(90deg);
		}
		/*right tab*/
			#right_Sidebar_home{
				position: absolute;
				height: 95vh;
				width: 18vw;
				right: 0px;
				top: 0px;
			}

/* keyframe :mobile view */
	@media only screen and (min-width: 731px){

	}
	@media only screen and (max-width: 730px){

		/* HOME -ELEMENT */
		#home_div{
			overflow: hidden;
		}
		#top_bar{
			border-bottom: 2vh solid grey;
		}
		#top_bar ul{
			display: none;
		}
		#mobView_footer{
			position: fixed;
			bottom: 0vh;
			width: 100%;
			height: 2vh;
			background-color: grey;
			z-index: 50;

		}
		#menu_mobile_view{
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			position: fixed;
			background-color: black;
			opacity: 0.9;
			z-index: 50;

		}
		#nav_buttons_DIV_mobile_view{
			width: 90%;
			margin-top: 20vh;
			text-align: left;
			border: 2px solid white;
		}
		.menu_nav_buttons_mobile_view{
			margin: 1vh;
			height: 6.5vh;
			padding: 1.5vh;
			font-size: 1.5rem;
			color: black;
			font-weight: bold;
			background-color: #F2AA4CFF;
			border: 2px solid white;
		}
		#body{
			background-image: none;
		}
		#home_hamburger_menu{
			display: none;
		}
		#Name_home{
			display: inline-block;
			margin-top: 15vh;
		}
		#about_me_home{
			border-top: 0.9vh solid orange;
			padding-top: 1vh;
		}
		#profile_img{
			margin-top: 3vh;
			height: 25vh;
			width: 25vh;
		}
		#home_my_quote_upper_orange_brDIV{
			height: 0px;
			width: 25vh;
			margin-top: 2vh;
			border-top: 0.9vh solid grey;
			margin-bottom: 2vh;
		}
		#home_hamburger_button{

		}
		#home_hamburger_button_mobile_view{
			position: absolute;
			top: 10vh;
			right: 5vh;
			height: 5vh;
			width: 5vh;
		}
		.home_hamburger_button_div{
			display: block;
			background-color: grey;
			margin: 0.2vh 0vw 0.4vh 0vw;
			height: 0.6vh;
			width: 100%;
			transition: width 1s linear;
			border-radius: 1.99rem;
		}

	}