
/* activity */
	#activity_div{
		display: none;
	}
	#activity_todayBlog{
		position: fixed;
		top: 10vh;
		left: 2vw;
		background-color: #ffffff;
		height: 40vw;
		width: 18vw;
		border: 0.15vw solid #e0dfdc;
		overflow: hidden;
		border-radius: 1.99rem;
		display: inline-block;
		background-image: url(bluesky_textile_background.jpg);
	}
	#activity_right_divbar{
		position: fixed;
		top: 10vh;
		right: 2vw;
		background-color: #ffffff;
		margin-left: 2vw;
		height: 40vw;
		width: 6vw;
		border: 0.15vw solid #e0dfdc;
		overflow: hidden;
		border-radius: 1.99rem;
		display: inline-block;
		background-image: url(bluesky_textile_background.jpg);
	}
	#meltingdakslategrey{
		width: 100%;
		height: 10vw;
		opacity: 0.9;
	}

	#activity_right_divbar center :nth-child(1){
		background-image: url(LinkedIn_icon_circle.png);
		background-size: contain;
		display: block;
		width: 3.8vw;
		height: 3.8vw;
		border: 2px solid white;
		border-radius: 50%;
		overflow: hidden;
		margin-top: 0vw;
	}
	#activity_right_divbar center :nth-child(2){
		background-image: url(github_icon.png);
		background-size: contain;
		display: block;
		width: 3.8vw;
		height: 3.8vw;
		border: 2px solid white;
		border-radius: 50%;
		overflow: hidden;
		margin-top: 2vw;

	}
	
	#activity_right_divbar center :nth-child(3){
		background-image: url(email_icon.png);
		background-size: contain;
		display: block;
		width: 3.8vw;
		height: 3.8vw;
		border: 2px solid white;
		border-radius: 50%;
		overflow: hidden;
		margin-top: 2vw;

	}
	#activity_right_divbar center :nth-child(4){
		background-image: url(copy_link_icon.png);
		background-size: contain;
		display: block;
		width: 3.8vw;
		height: 3.8vw;
		border: 2px solid white;
		border-radius: 50%;
		overflow: hidden;
		margin-top: 2vw;

	}
	#activity_right_more_button{
		position: relative;
		background-color: transparent;
		border: none;
		font-size: 2vw;
		color: white;
		margin-top: 2vw;

	}
		#blog_Quote{
			text-align: justify;
			margin: 2.5vw;
			margin-top: 3vw;
			font-size: 1.4vw;
			font-family: serif;
			color: black;
			padding-bottom: 0.5vw;
			border-bottom: 0.7vw solid black;
			font-weight: ;
		}
		#blog_Quote_Author{
			margin-top: 1.5vw;
			float: right;
			font-size: 1.8vw;
			font-family: serif;
			color: black;
		}
		@keyframes Gearrotationclock{
			to{
				transform: rotate(1turn);
			}
		}
		@keyframes Gearrotationanticlock{
			to{
				transform: rotate(-1turn);
			}
		}
		#gearimgIMG2{
			position: relative;
			top: 0vw;
			left: 3vw;
			height: 5vw;
			width: 5vw;
			animation: Gearrotationclock 60s linear infinite;
		}
		#gearimgIMG3{
			transform: rotate(15deg);
			position: relative;
			top: 2vw;
			left: 2.05vw;
			height: 8vw;
			width: 8vw;
			animation: Gearrotationanticlock 70s linear infinite;
				
		}
		#activity_blog_moreButton{
			position: absolute;
			bottom: 1vw;
			right: 1.5vw;
			background-color: transparent;
			border: none;
			font-size: 2vw;
			color: white;
		}
	#activity_plane{
		position: absolute;
		display: block;
		top: 12vh;
		left: 27vw;


		
	}
	#ACTIrightTabscrolling_DIV{
		background-color: #ffffff;
		min-height: 20vw;
		width: 56vw;
		border: 0.15vw solid #e0dfdc;
		/*border-top: 1vw solid #555658;*/
		overflow: hidden;
		border-radius: 1.99rem;
		
	}

		#profile_backPaper{
			height: 15vw;
			width: 100%;
		}
		#profilepicACTIVITY_div{
			position: relative;
			float: right;
			margin-top: -10vw;
			margin-right: 2vw;
		}
		#profile_pic_activity{
			height: 15vw;
			width: 15vw;
			border-radius: 50%;
			border: 0.5vw solid white;
		}

		#activity_content{
			float: left;
			font-size: 2.5vw;
			font-family: sans-serif;
			margin: 1vw 0vw 0vw 2vw;
		}
		#activity_intro{
			width: 100%;
			margin-top: 4.5vw;
			text-align: left;
			padding-left: 2vw;
			font-family: sans-serif;
			color: darkslategray;
		}
		#custom_message_activity{
			margin-top: 1vw;
			text-align: left;
			width: 100%;
			min-height: 5vw;
			font-size: 1rem;
			padding-left: 2vw;
			color: darkslategrey;

		}
		.acti_social_links{
			font-family: sans-serif;
			color: blue;
			font-weight: bold;
			text-decoration: none;
		}

	#activity_Posts_sortBydiv{
		text-align: left;
		background-color: #ffffff;
		margin-top: 2vh;
		height: 10vw;
		width: 56vw;
		border: 0.15vw solid #e0dfdc;
		overflow: hidden;
		border-radius: 1.99rem;

	}

	#activity_Posts_sortBy_header{
		float: left;
		font-size: 2vw;
		font-family: sans-serif;
		font-weight: 500;
		margin: 1vw 0vw 0vw 2vw;
		color: black;
	}
	#sortby_button_div{
		position: relative;
		top: 0vw;
		left: -13vw;
	}
	.sortby_button{
		display: inline-block;
		margin-top: 5vw;
		margin-left: 3vw;
		height: 2.5vw;
		border: 0px solid ghostwhite;
		border-radius: 1.99rem;
		color: black;
		border: 1px solid black;
		font-size: 1.2vw;
		padding: 0.5vw 1vw 0.5vw 1vw;
	}
	#sortbyALLacti_Activity{
		border: 0px;
		background-color: rgb(5, 118, 66);
		color: white;
	}
	#sortbyArticles_Activity{
	}
	#sortbyPosts_Activity{
	}
	#sortbyDocuments_Activity{
	}
	.activity_Posts{
		background-color: #ffffff;
		margin-top: 2vh;
		min-height: 20vw;
		width: 56vw;
		border: 0.15vw solid #e0dfdc;
		overflow: hidden;
		border-radius: 1.99rem;
	}
	.top_activitypostDIV{
		background-color: snow;
		text-align: left;
		height: 6vw;
		width: 56vw;
		border-bottom: 0.5vw solid rgb(5, 118, 66);
	}
	#posts_profilePIC{
		margin: 1vw;
		height: 4.5vw;
		width: 4.5vw;
		border-radius: 50%;
	}
	#Activity_post_location{
		position: relative;
		top: -4vw;
		left: 1vw;
		height: 1vw;
		width: 10vw;
		color: darkslategray;
		font-family: sans-serif;
		font-weight: bold;
	}
	.timepast_post{
		position: relative;
		top: -4vw;
		left: 9.4vw;
		font-family: sans-serif;
		height: 1vw;
		font-weight: bold;
		color: darkslategray;
	}

	.activity_post_content{
		width: 50vw;
		text-align: left;
		font-size: 1.2rem;
		padding-bottom: 2vw;
	}
	.acti_posts_img_attachment{
		background-color: black;
		height: 35vw;
		width: 50vw;
		border: 1.5vw solid black;
		margin-bottom: 2vw;
	}



/* keyframe :mobile view */
	@media only screen and (min-width: 731px){

	}
	@media only screen and (max-width: 730px){
		#activity_todayBlog{
			display: none;
		}
		#activity_right_divbar{
			display: none;
		}
		/**/
		#activity_plane{
			top: 16vh;
			left: 1vw;
			height: auto;
		}
		#profile_backPaper{
			height: 12vh;
		}
		#profile_pic_activity{
			margin-top: -3vh;
			height: 10vh;
			width: 10vh;
		}
		#activity_content{
			font-size: 2rem;
		}
		#activity_intro{
			margin-top: 4vh;
		}
		/**/
		#activity_Posts_sortBy_header{
			font-size: 1.2rem;
		}
		#sortby_button_div{
			float: left;
			display: flex;
			margin-left: 2.8rem;
		}
		.sortby_button{
			height: 3vh;
			font-size: 1rem;
		}
		#ACTIrightTabscrolling_DIV{
			width: 100vw;
			height: 30vh;
			border-radius: 0%;

		}
		#activity_Posts_sortBydiv{
			width: 100vw;
			height: 15vh;
			border-radius: 0%;

		}
		.activity_Posts{
			width: 100%;
			border-radius: 0%;
		}
		.top_activitypostDIV{
			height: 10vh;
			width: 90vw;
			padding-top: 2vh;
		}
		#posts_profilePIC{
			height: 6vh;
			width: 6vh;
		}
		#Activity_post_location{
			display: inline-block;
			text-align: justify;
			width: 80vw;
			top: -6vh;
			left: 7.5vh;
		}
		.timepast_post{
			display: inline-block;
			text-align: justify;
			width: 80vw;
			top: -6vh;
			left: 10.5vh;
		}
		.activity_post_content{
			width: 85vw;
		}
		.acti_posts_img_attachment{
			width: 75vw;
			height: 55vw;
			margin: 2vh;
		}
	}